In [1]:
## Import Libraries

import pandas as pd
import numpy
import datetime as dt
from pathlib import Path

%matplotlib inline

In [2]:
## Read in CSV files and Clean data

In [20]:
# Read in S&P 500 (SPX), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
spx_data = pd.read_csv(Path("./SPX.csv"), index_col="Date")
spx_data = spx_data.drop(columns=["Open", "High", "Low"])
spx_data["Close"] = spx_data["Close"].str.replace(',','')
spx_data["Close"].replace({'Close': None},inplace =True, regex= True)
spx_data = spx_data.dropna().copy()
spx_data["Close"] = spx_data["Close"].astype("float")
spx_data.head()

              Close
Date
11/03/2023  4358.34
11/02/2023  4317.78
11/01/2023  4237.86
10/31/2023  4193.80
10/30/2023  4166.82

In [23]:
# Read in S&P 400 MidCap Index (MID), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
sp400_data = pd.read_csv(Path("./sp400_MID.csv"), index_col="Date")
sp400_data = sp400_data.drop(columns=["Open", "High", "Low"])
sp400_data["Close"] = sp400_data["Close"].str.replace(',','')
sp400_data["Close"].replace({'Close': None},inplace =True, regex= True)
sp400_data = spx_data.dropna().copy()
sp400_data["Close"] = sp400_data["Close"].astype("float")
sp400_data.head()

              Close
Date
11/03/2023  4358.34
11/02/2023  4317.78
11/01/2023  4237.86
10/31/2023  4193.80
10/30/2023  4166.82

In [24]:
# Read in S&P SmallCap 600 (SML), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
sp600_data = pd.read_csv(Path("./sp600_SML.csv"), index_col="Date")
sp600_data = sp600_data.drop(columns=["Open", "High", "Low"])
sp600_data["Close"] = sp600_data["Close"].str.replace(',','')
sp600_data["Close"].replace({'Close': None},inplace =True, regex= True)
sp600_data = spx_data.dropna().copy()
sp600_data["Close"] = sp600_data["Close"].astype("float")
sp600_data.head()

              Close
Date
11/03/2023  4358.34
11/02/2023  4317.78
11/01/2023  4237.86
10/31/2023  4193.80
10/30/2023  4166.82

In [25]:
# Read in Nasdaq Composite (COMP), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
nasdaq_data = pd.read_csv(Path("./nasdaq_COMP.csv"), index_col="Date")
nasdaq_data = nasdaq_data.drop(columns=["Open", "High", "Low"])
nasdaq_data["Close"] = nasdaq_data["Close"].str.replace(',','')
nasdaq_data["Close"].replace({'Close': None},inplace =True, regex= True)
nasdaq_data = nasdaq_data.dropna().copy()
nasdaq_data["Close"] = nasdaq_data["Close"].astype("float")
nasdaq_data.head()

               Close
Date
11/03/2023  13478.28
11/02/2023  13294.19
11/01/2023  13061.47
10/31/2023  12851.24
10/30/2023  12789.48

In [26]:
# Read in 10 Year Treasury Rate (TNX), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
tnx_data = pd.read_csv(Path("./TNX.csv"), index_col="Date")
tnx_data = tnx_data.drop(columns=["Open", "High", "Low"])
tnx_data["Close"] = tnx_data["Close"].str.replace(',','')
tnx_data["Close"].replace({'Close': None},inplace =True, regex= True)
tnx_data = tnx_data.dropna().copy()
tnx_data["Close"] = tnx_data["Close"].astype("float")
tnx_data.head()

            Close
Date
11/03/2023  45.58
11/02/2023  46.69
11/01/2023  47.89
10/31/2023  48.75
10/30/2023  48.75

In [27]:
# Read in High Yield Corporate Bond ETF (HYG), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
hyg_data = pd.read_csv(Path("./high_yield_bond.csv"), index_col="Date")
hyg_data = hyg_data.drop(columns=["Open", "High", "Low", "Volume"])
hyg_data["Close"] = hyg_data["Close"].str.replace(',','')
hyg_data["Close"].replace({'Close': None},inplace =True, regex= True)
hyg_data = hyg_data.dropna().copy()
hyg_data["Close"] = hyg_data["Close"].astype("float")
hyg_data.head()

            Close
Date
11/03/2023  74.41
11/02/2023  73.69
11/01/2023  72.87
10/31/2023  72.57
10/30/2023  72.38

In [28]:
# Read in Gold, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
gold_data = pd.read_csv(Path("./gold.csv"), index_col="Date")
gold_data = gold_data.drop(columns=["Open", "High", "Low"])
gold_data["Close"] = gold_data["Close"].str.replace(',','')
gold_data["Close"].replace({'Close': None},inplace =True, regex= True)
gold_data = gold_data.dropna().copy()
gold_data["Close"] = gold_data["Close"].astype("float")
gold_data.head()

             Close
Date
11/03/2023  1999.2
11/02/2023  1993.5
11/01/2023  1987.5
10/31/2023  1994.3
10/30/2023  2005.6

In [29]:
# Read in Silver, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
silver_data = pd.read_csv(Path("./silver.csv"), index_col="Date")
silver_data = silver_data.drop(columns=["Open", "High", "Low"])
silver_data["Close"] = silver_data["Close"].str.replace(',','')
silver_data["Close"].replace({'Close': None},inplace =True, regex= True)
silver_data = silver_data.dropna().copy()
silver_data["Close"] = silver_data["Close"].astype("float")
silver_data.head()

             Close
Date
11/03/2023  23.285
11/02/2023  22.846
11/01/2023  22.790
10/31/2023  22.952
10/30/2023  23.396

In [30]:
# Read in S&P 500 Real Estate, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
real_estate_data = pd.read_csv(Path("./sp500_real_estate.csv"), index_col="Date")
real_estate_data = real_estate_data.drop(columns=["Open", "High", "Low"])
real_estate_data["Close"] = real_estate_data["Close"].str.replace(',','')
real_estate_data["Close"].replace({'Close': None},inplace =True, regex= True)
real_estate_data = real_estate_data.dropna().copy()
real_estate_data["Close"] = real_estate_data["Close"].astype("float")
real_estate_data.head()

             Close
Date
11/02/2023  215.06
11/01/2023  208.61
10/31/2023  207.55
10/30/2023  203.41
10/27/2023  202.79

In [33]:
# Read in Bitcoin, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
bitcoin_data = pd.read_csv(Path("./bitcoin.csv"), index_col="Date")
bitcoin_data = bitcoin_data.drop(columns=["Open", "High", "Low"])
bitcoin_data["Close"] = bitcoin_data["Close"].str.replace(',','')
bitcoin_data["Close"].replace({'Close': None},inplace =True, regex= True)
bitcoin_data = bitcoin_data.dropna().copy()
bitcoin_data["Close"] = bitcoin_data["Close"].astype("float")
bitcoin_data.head()

              Close
Date
11/03/2023  34617.0
11/02/2023  34929.0
11/01/2023  35307.0
10/31/2023  34651.0
10/30/2023  34464.0

In [ ]:
# Calculate daily returns for S&P 500 (SPX)

In [ ]:
# Calculate daily returns for S&P 400 MidCap Index (MID)

In [ ]:
# Calculate daily returns for S&P SmallCap 600 (SML)

In [ ]:
# Calculate daily returns for Nasdaq Composite (COMP)

In [ ]:
# Calculate daily returns for 10 Year Treasury Rate (TNX)

In [ ]:
# Calculate daily returns for High Yield Corporate Bond ETF (HYG)

In [ ]:
# Calculate daily returns for Gold

In [ ]:
# Calculate daily returns for Silver

In [ ]:
# Calculate daily returns for S&P 500 Real Estate

In [ ]:
# Calculate daily returns for Bitcoin

In [ ]:
# Join the returns data into a single DataFrame

In [ ]:
### Conduct Quantitative Analysis

In [ ]:
# Plot Daily Returns

In [ ]:
# Calculate and Plot Cumulative Returns

In [ ]:
## Risk Analysis

In [ ]:
# Create a box plot to show risk

In [ ]:
# Calculate the daily standard deviations of all portfolios

In [ ]:
## Rolling Statistics

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 30-day window

In [ ]:
# Plot the rolling standard deviation

In [ ]:
## Correlation

In [ ]:
# Calculate and Plot the correlation

In [ ]:
## Calculate and Plot Beta for each investment compared to the S&P 500

In [ ]:
# Calculate covariance of each investment

In [ ]:
# Calculate variance of S&P 500

In [ ]:
# Compute Beta for each investment

In [ ]:
# Plot Beta

In [ ]:
## Sharpe Ratios

In [ ]:
# Calculate annualized sharpe ratios

In [ ]:
# Plot the sharpe ratios