In [1]:
## Import Libraries

import pandas as pd
import numpy
import datetime as dt
from pathlib import Path

%matplotlib inline

In [ ]:
## Read in CSV files and Clean data

In [8]:
# Read in S&P 500 (SPX), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
spx_data = pd.read_csv(Path("./SPX.csv"), index_col="Date")
spx_data = spx_data.drop(columns=["Open", "High", "Low"])
spx_data = spx_data.dropna().copy()
spx_data.head()

               Close
Date
11/03/2023  4,358.34
11/02/2023  4,317.78
11/01/2023  4,237.86
10/31/2023  4,193.80
10/30/2023  4,166.82

In [12]:
# Read in 10 Year Treasury Rate (TNX), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
tnx_data = pd.read_csv(Path("./TNX.csv"), index_col="Date")
tnx_data = tnx_data.drop(columns=["Open", "High", "Low"])
tnx_data = tnx_data.dropna().copy()
tnx_data.head()

            Close
Date
11/03/2023  45.58
11/02/2023  46.69
11/01/2023  47.89
10/31/2023  48.75
10/30/2023  48.75

In [13]:
# Read in Bitcoin, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
bitcoin_data = pd.read_csv(Path("./bitcoin.csv"), index_col="Date")
bitcoin_data = bitcoin_data.drop(columns=["Open", "High", "Low"])
bitcoin_data = bitcoin_data.dropna().copy()
bitcoin_data.head()

             Close
Date
11/03/2023  34,617
11/02/2023  34,929
11/01/2023  35,307
10/31/2023  34,651
10/30/2023  34,464

In [14]:
# Read in Gold, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
gold_data = pd.read_csv(Path("./gold.csv"), index_col="Date")
gold_data = gold_data.drop(columns=["Open", "High", "Low"])
gold_data = gold_data.dropna().copy()
gold_data.head()

               Close
Date
11/03/2023  1,999.20
11/02/2023  1,993.50
11/01/2023  1,987.50
10/31/2023  1,994.30
10/30/2023  2,005.60

In [15]:
# Read in Silver, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
silver_data = pd.read_csv(Path("./silver.csv"), index_col="Date")
silver_data = silver_data.drop(columns=["Open", "High", "Low"])
silver_data = silver_data.dropna().copy()
silver_data.head()

             Close
Date
11/03/2023  23.285
11/02/2023  22.846
11/01/2023  22.790
10/31/2023  22.952
10/30/2023  23.396

In [19]:
# Read in High Yield Corporate Bond ETF (HYG), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
hyg_data = pd.read_csv(Path("./high_yield_bond.csv"), index_col="Date")
hyg_data = hyg_data.drop(columns=["Open", "High", "Low", "Volume"])
hyg_data = hyg_data.dropna().copy()
hyg_data.head()

            Close
Date
11/03/2023  74.41
11/02/2023  73.69
11/01/2023  72.87
10/31/2023  72.57
10/30/2023  72.38

In [20]:
# Read in Nasdaq Composite (COMP), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
nasdaq_data = pd.read_csv(Path("./nasdaq_COMP.csv"), index_col="Date")
nasdaq_data = nasdaq_data.drop(columns=["Open", "High", "Low"])
nasdaq_data = nasdaq_data.dropna().copy()
nasdaq_data.head()

                Close
Date
11/03/2023  13,478.28
11/02/2023  13,294.19
11/01/2023  13,061.47
10/31/2023  12,851.24
10/30/2023  12,789.48

In [21]:
# Read in S&P 400 MidCap Index (MID), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
sp400_data = pd.read_csv(Path("./sp400_MID.csv"), index_col="Date")
sp400_data = sp400_data.drop(columns=["Open", "High", "Low"])
sp400_data = sp400_data.dropna().copy()
sp400_data.head()

               Close
Date
11/03/2023  2,478.34
11/02/2023  2,430.75
11/01/2023  2,381.14
10/31/2023  2,366.40
10/30/2023  2,345.08

In [22]:
# Read in S&P 500 Real Estate, set Date as index, drop extra columns (keep the "Close" column), and drop nulls
real_estate_data = pd.read_csv(Path("./sp500_real_estate.csv"), index_col="Date")
real_estate_data = real_estate_data.drop(columns=["Open", "High", "Low"])
real_estate_data = real_estate_data.dropna().copy()
real_estate_data.head()

             Close
Date
11/02/2023  215.06
11/01/2023  208.61
10/31/2023  207.55
10/30/2023  203.41
10/27/2023  202.79

In [23]:
# Read in S&P SmallCap 600 (SML), set Date as index, drop extra columns (keep the "Close" column), and drop nulls
sp600_data = pd.read_csv(Path("./sp600_SML.csv"), index_col="Date")
sp600_data = sp600_data.drop(columns=["Open", "High", "Low"])
sp600_data = sp600_data.dropna().copy()
sp600_data.head()

               Close
Date
11/03/2023  1,148.40
11/02/2023  1,117.89
11/01/2023  1,088.94
10/31/2023  1,084.10
10/30/2023  1,075.56

In [ ]:
# Calculate daily returns for SPX

In [ ]:
# Calculate daily returns for TNX

In [ ]:
# Calculate daily returns for Bitcoin

In [ ]:
# Calculate daily returns for Gold

In [ ]:
# Calculate daily returns for Silver

In [ ]:
# Calculate daily returns for High Yield Bond

In [ ]:
# Calculate daily returns for Nasdaq Composite

In [ ]:
# Calculate daily returns for SP400 MID

In [ ]:
# Calculate daily returns for SP500 Real Estate

In [ ]:
# Calculate daily returns for SP600 SML

In [ ]:
# Join the returns data into a single DataFrame

In [ ]:
### Conduct Quantitative Analysis

In [ ]:
# Plot Daily Returns

In [ ]:
# Calculate and Plot Cumulative Returns

In [ ]:
## Risk Analysis

In [ ]:
# Create a box plot to show risk

In [ ]:
# Calculate the daily standard deviations of all portfolios

In [ ]:
## Rolling Statistics

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 30-day window

In [ ]:
# Plot the rolling standard deviation

In [ ]:
## Correlation

In [ ]:
# Calculate and Plot the correlation

In [ ]:
## Calculate and Plot Beta for each investment compared to the S&P 500

In [ ]:
# Calculate covariance of each investment

In [ ]:
# Calculate variance of S&P 500

In [ ]:
# Compute Beta for each investment

In [ ]:
# Plot Beta

In [ ]:
## Sharpe Ratios

In [ ]:
# Calculate annualized sharpe ratios

In [ ]:
# Plot the sharpe ratios